*{box-sizing: border-box;}

body {
	margin: 0px;
	background-color: green;
	font-family: 'Indie Flower', cursive;
}

/*HEADER */
h1 {
	margin-left: 20px;
	margin-right:20px;
	padding: 20px;
}

/*Container*/
.content {
	padding: 20px;
	width: 100%;
	min-height: 1px;
	float: left;
}


.shopping-list,
.shopping-form  {
	width: 230px;
	min-height: 450px;
	border-radius: 8px;
	display: inline-block;
}

.shopping-list {
	float: left;
	background-color: purple;
	background: url('http://i.imgur.com/rZtlt1Y.jpg');
	background-repeat: no-repeat;
	width: 606px;
    height: 650px;

}

.shopping-form{
	float: left;
	background-color: #9CBA7F;
}

.alert {
	display: none;
	color: red;
}

#list {
	list-style-type: none;
}


.items {
	margin-top: 181px;
	margin-left: 61px;
	height: 226px;
	width: 189px;
 	margin-top: 261px;bn 
    margin-left: 31px;
	}



#item-add {
	margin-left: 21px;
}

textarea {
	resize: none;
  background: #E0C6A4;
} 

.delete-button {
	background-color: #E0C6A4;
	border: none;
	color: red;
}